.slider-container {
  position: relative;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-behavior: smooth;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-element {
  min-width: auto;
  margin: 0px auto;
  padding: 10px;
}

.slider-element:nth-of-type(1){
    margin-left: 0;
}

.left-btn,
.right-btn {
  height: 25px;
  width: 25px;
  position: sticky;
  top: 45%;
  display: flex;
  border-radius: 50%;
  z-index: 1;
  border-radius: 1px solid #fdfdfd;
  border: 1px solid grey;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #fdfdfd;
  box-shadow: 0px 8px 16px 0px #f1f1f1;
  color: #5f5d5d;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}
